<section class="hero">
  <div class="hero__wrap">
    <div class="container">
      <div class="hero__inner">
        <h1 class="hero__title hero__title--default">
          Let’s Make Your Own Cinema
        </h1>
        <p class="hero__text">
          Is a guide to creating a personalized movie theater experience. You'll
          need a projector, screen, and speakers.
          <span class="hero__text--add"
            >Decorate your space, choose your films, and stock up on snacks for
            the full experience.</span
          >
        </p>

        <div class="hero__btns">
          <a href="./catalog.html">
            <button class="hero__btn hero__btn--primary">Get Started</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
