@use 'src/sass/base/variables' as *;
@use 'src/sass/mixins/breakpoint' as *;

// Стили футера
.footer-wrap {
  background-color: $bg-color;
  margin-left: auto;
  margin-right: auto;
  width: 266px;
  text-align: center;
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 116.666667%; /* 14px / 12px */

  color: $footer-text-color;

  @include media-query('tablet-min') {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 542px;
    font-size: 16px;
    line-height: calc(19 / 16);
  }
}
.site-footer {
  margin-top: auto;
  background: $bg-color;
  padding-top: 40px;
  padding-bottom: 28px;

  @include media-query('tablet-min') {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  @include media-query(desktop) {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
.footer-link {
  color: $footer-text-color;

  text-decoration: underline;
  display: inline;
  margin-top: 0px;
  transition-property: color;
  transition-duration: $transition;
  transition-timing-function: $transition-cubic-bezier;

  &:hover,
  &:focus-visible {
    color: $orange-color;
  }

  @include media-query('tablet-min') {
    margin-top: 6px;
  }
}
.heart-icon {
  margin-right: 10px;
  margin-left: 10px;
}
.footer-descr-copyright {
  margin-bottom: 8px;

  @include media-query('tablet-min') {
    margin-bottom: 0px;
  }
}

.descr-rights {
  border-left: 1px solid $light-grey-color;
  border-right: 1px solid $light-grey-color;
  padding-left: 4px;
  padding-right: 4px;
}

@include media-query('tablet-min') {
  .descr-developed {
    margin-left: 4px;
  }
}
