@use 'src/sass/base/variables' as *;
@use 'src/sass/mixins/breakpoint' as *;
@use 'src/sass/mixins/buttons' as *;

.box {
  max-width: 320px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;

  @include media-query(tablet) {
    max-width: 768px;
    padding: 0 32px;
  }

  @include media-query(desktop) {
    max-width: 1280px;
  }
}

.hero {
  height: 380px;
  background-color: $black-color; // Чтобы не было странного свечения на светлой теме

  @include media-query(tablet) {
    height: 432px;
  }

  @include media-query(desktop) {
    height: 720px;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }

  &__wrap {
    background-image: linear-gradient(
        86.77deg,
        #111111 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      var(--poster-url-mobile);

    background-repeat: no-repeat;
    background-size: cover;

    @include media-query(mobile-max) {
      background-size: 768px;
      background-position: center;
    }

    @media media-query and (min-width: 780px),
      (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ),
        var(--poster-url-tablet);
    }

    @media media-query and (min-width: 1280px) {
      background-image: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ),
        var(--poster-url);
    }
  }

  &--bg {
    background-image: linear-gradient(
        79.49deg,
        #111111 34.1%,
        rgba(17, 17, 17, 0) 64.67%
      ),
      url('../img/hero/poster-tablet@1x.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          79.49deg,
          #111111 34.1%,
          rgba(17, 17, 17, 0) 64.67%
        ),
        url('../img/hero/poster-tablet@2x.jpg');
    }

    @include media-query(tablet) {
      height: 432px;
      background-image: linear-gradient(
          79.49deg,
          #111111 34.1%,
          rgba(17, 17, 17, 0) 64.67%
        ),
        url('../img/hero/poster-desktop@1x.jpg');
      background-position: 0, 200px 0;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            79.49deg,
            #111111 34.1%,
            rgba(17, 17, 17, 0) 64.67%
          ),
          url('../img/hero/poster-desktop@2x.jpg');
      }
    }

    @include media-query(desktop) {
      height: 720px;

      background-size: 1280px;
      background-position: 0, 400px 0;
    }
  }

  &--bg-lib {
    background-image: linear-gradient(
        79.49deg,
        #111111 34.1%,
        rgba(17, 17, 17, 0) 64.67%
      ),
      url('../img/hero/lib-poster-tablet@1x.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          79.49deg,
          #111111 34.1%,
          rgba(17, 17, 17, 0) 64.67%
        ),
        url('../img/hero/lib-poster-tablet@2x.jpg');
    }

    @include media-query(tablet) {
      height: 432px;
      background-image: linear-gradient(
          79.49deg,
          #111111 34.1%,
          rgba(17, 17, 17, 0) 64.67%
        ),
        url('../img/hero/lib-poster-tablet@1x.jpg');
      background-position: 0, 200px 0;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            79.49deg,
            #111111 34.1%,
            rgba(17, 17, 17, 0) 64.67%
          ),
          url('../img/hero/lib-poster-tablet@2x.jpg');
      }
    }

    @include media-query(desktop) {
      height: 720px;
      background-image: linear-gradient(
          79.49deg,
          #111111 34.1%,
          rgba(17, 17, 17, 0) 64.67%
        ),
        url('../img/hero/lib-poster-desktop@1x.jpg');
      background-size: 1280px;
      background-position: 0, 400px 0;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            79.49deg,
            #111111 34.1%,
            rgba(17, 17, 17, 0) 64.67%
          ),
          url('../img/hero/lib-poster-desktop@2x.jpg');
      }
    }
  }

  &__inner {
    height: 380px;
    padding-top: 40px;
    padding-bottom: 40px;

    @include media-query(tablet) {
      height: 432px;
      padding-top: 96px;
    }

    @include media-query(desktop) {
      height: 720px;
      padding-top: 178px;
      padding-left: 103px;
    }
  }

  &__title {
    // width: 250px;
    max-width: 250px;
    color: #ffffff;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    margin-bottom: 12px;

    @include media-query(tablet) {
      // width: 440px;
      max-width: 445px;
      font-size: 44px;
      line-height: 1.18;
    }

    @include media-query(desktop) {
      // width: 475px;
      max-width: 670px;
      font-size: 64px;
      line-height: 1.17;
    }

    &--default {
      width: 200px;

      @include media-query(tablet) {
        width: 375px;
      }

      @include media-query(desktop) {
        width: 465px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $off-white-color;
    width: 150px;
    margin-bottom: 20px;

    @include media-query(tablet) {
      width: 340px;
      margin-bottom: 28px;
    }

    @include media-query(desktop) {
      width: 380px;
    }

    &--trunc {
      width: 180px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include media-query(tablet) {
        width: 295px;
      }

      @include media-query(desktop) {
      }
    }

    &--add {
      display: none;

      @include media-query(tablet) {
        display: inline;
      }
    }
  }

  &__btns {
    display: flex;
    gap: 8px;

    @include media-query(desktop) {
      gap: 14px;
    }
  }

  &__btn {
    @include standard-orange-button(1rem, 150%);

    @include media-query(tablet) {
      font-size: 14px;
      line-height: 1.49;
      padding: 10px 24px;
    }

    @include media-query(desktop) {
    }

    &--primary {
      color: #111111;
      border-color: transparent;
      background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
      transition: all $transition $transition-cubic-bezier;
      border-radius: 74px;

      &:hover {
        background: #ffffff;
        border-color: #ffffff;
      }
    }

    &--secondary {
      color: #ffffff;
      border: 1px solid #ffffff;
      background: transparent;
      transition: all $transition $transition-cubic-bezier;
      border-radius: 74px;

      &:hover {
        color: #111111;
        background: #ffffff;
      }
    }
  }
}

.hrating {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 20px;

  @include media-query(tablet) {
    font-size: 20px;
  }

  &__body {
    position: relative;

    &::before {
      content: '★★★★★';
      display: block;
      letter-spacing: 4px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $orange-color;
      color: transparent;
    }
  }

  &__active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    &::before {
      content: '★★★★★';
      letter-spacing: 4px;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      color: $orange-color;
    }
  }

  &__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
  }

  &__value {
    font-size: 50%;
    line-height: 1;
    padding: 0 0 0 10px;
  }
}

.lib-hero {
  height: 380px;
  background-color: $black-color; // Чтобы не было странного свечения на светлой теме

  @include media-query(tablet) {
    height: 432px;
  }

  @include media-query(desktop) {
    height: 720px;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }

  &__wrap {
    padding-top: 40px;

    @include media-query(tablet) {
      padding-top: 62px;
    }

    @include media-query(desktop) {
      padding-top: 229px;
      padding-left: 117px;
    }
  }

  &__title {
    width: 235px;
    color: #ffffff;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    text-transform: capitalize;
    margin-bottom: 8px;

    @include media-query(tablet) {
      width: 330px;
      font-size: 44px;
      line-height: 1.18;
      margin-bottom: 12px;
    }

    @include media-query(desktop) {
      width: 464px;
      font-size: 64px;
      line-height: 1.17;
      margin-bottom: 16px;
    }
  }

  &__text {
    width: 230px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $off-white-color;

    @include media-query(tablet) {
      width: 330px;
    }

    @include media-query(desktop) {
      width: 430px;
      font-size: 16px;
      line-height: 1.19;
    }
  }
}
